body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .calculator {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 240px;
    background-color: #434141;
  }
  
  .display {
    width: 95%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 18px;
  }
  
  .keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }
  
  button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    background-color: #e0e0e0;
  }
  
  button:hover {
    background-color: #ccc;
  }

  .logic-btn{
    background-color: rgb(231, 183, 10);
    color: black;
  }

  .logic-btn:hover{
    background-color: rgb(250, 231, 164);
  }

  .equal-btn{
    background-color: rgb(111, 145, 246);
  }

  .equal-btn:hover{
    background-color: rgb(166, 186, 246);
  }

  .cancel-btn{
    background-color: rgb(254, 78, 78);
  }

  .cancel-btn:hover{
    background-color: rgb(254, 161, 161);
  }
  